@charset "utf-8";
body{background: #eee;}
#wrap{width: 460px;margin: 0 auto;}

#header{padding: 60px 0; }
#header h1{
	width: 240px;_background:skyblue;
	margin: 0 auto;
	background-image: url(../images/pc_sp_join.png);
	background-repeat: no-repeat;
	background-position: 0 -105px;
}
#header h1 a{
	display: block;	line-height: 44px;
	text-indent: -9999px;
}

fieldset{
	border: 1px solid #dadada;
	background: #fff;
	margin-bottom: 20px;
}
legend,.blind{
	display: block;position: absolute;left: 0;top: -9999px;
}
#content fieldset .field{
	border-bottom: 1px solid #f0f0f0;
	position: relative;
}

#content fieldset .field .inp-field{
	width: 350px;height: 48px;border: 0 none;
	color: #333;font-size: 16px;text-indent: 12px;
}

#content fieldset .field .icon{
	display: block;width: 97px;height: 48px;
	background: skyblue;position: absolute;right: 10px;top: 0;
	background-image: url(../images/ico_join3.png);
	background-repeat: no-repeat;text-indent: -9999px;
}

#content fieldset .field .icon.mail{background-position: 0 -45px;}
#content fieldset .field .icon.pass{background-position: 0 -466px;}
#content fieldset .field .icon.pass2{background-position: 0 -515px;}


#content .btn-area {
	background:pink;
}

#content .btn-area .btn-submit{
	width: 100%;height: 59px;border: 0 none;
	background:#1fbc02 url(../images/btn_join2.gif) no-repeat 50% -3px;
	text-indent: -9999px;cursor: pointer;
}
