@charset "utf-8";

html,body{width: 100%;height: 100%;}
.headerWrap{width: 100%;min-width:1200px}
.headerTop{width: 100%;height: 50px;background: #262c28;font-size: 15px;color: white;text-align: center;line-height: 50px;}

.header{position: relative;height: 100px;width: 100%;}
.l-interface{position: absolute;top:0;left: 340px;}
.c-interface{top: 50%;left: 50%;transform: translate(-50%,-50%);position: absolute;}
.r-interface{position:absolute;right: 390px;top: 25px;}

.l-interface ul{line-height: 100px;font-size: 14px;}
.l-interface li{float: left;padding-right: 10px;color: #7e7882;}
.l-interface span{float: left;padding-right: 10px;color: #7e7882;}


/*폼*/
.field input{background: #f0f0f0;width: 300px;border:none;height: 50px;}
.field img{position: absolute;top: 15px;right: 10px;cursor: pointer;}
.header .shopping{position: absolute;top: 25px;right: 335px;cursor: pointer;}
.blind{display: none;}

.line{height: 1px;width: 100%;background: #ccc;}


/*메뉴바*/
.navWrap{}
.navbar{margin: 0 auto;width: 1920px;}
.navbar .toggle{position: relative;top: 23px;left: 340px;}
.navbar img{padding-right: 10px;}
.navbar ul{display: flex;justify-content: center;}
.navbar>ul>li{float: left;padding-right: 40px;}
.navbar .letter{position: relative;top: -7px;}


/*slider*/
.visual{position: relative;}
.visual .slider img{width: 100%;}
.visual .slider .slidertxt{position: absolute;top: 170px;left: 335px;}
.visual .slider .slidertxt h4{font-size: 32px;margin-bottom: 13px;}
.visual .slider .slidertxt p{font-size: 18px;margin-bottom: 20px;}
.visual .slider .slidertxt a{padding: 5px 10px;background: rgba(150,150,150,0.3);text-decoration: none;color: #fff;}
.visual .bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border: 0 none;
    background: #fff;
    margin-bottom: 0px;
}

.visual .roundbox{
	border-radius: 30px;background: rgba(150,150,150,0.3);
	width: 110px;height: 34px;color: white;
	display: block;margin: auto;position: relative;top: -50px;
}
.roundbox .buttons{position: relative;}
.roundbox img{width: 10px;height: 18px;cursor: pointer;}
.roundbox .round-prev{position: absolute;top: 7px;left: 7px;}
.roundbox .round-next{position: absolute;top: 7px;right: 7px;}
.roundbox p{position: absolute;top: 5px;left: 38px;}


/*신상품*/

.new-product{padding-top: 60px;display: flex;justify-content: center;padding-bottom: 100px;position: relative;}
.new-product h2{padding-bottom: 40px;}
.new-product .plus{position: absolute;top: 75px;right: 330px;font-size: 12px;color: #c0bbc2;}
.new-product>ul>li{float: left;padding-right: 60px;}
.new-product>ul>li:last-child{padding-right: 0;}
.new-product .smline{width: 200px;height: 1px;background: #c0bbc2;margin:15px 0;}
.new-product>ul>li a{font-size: 14px;}


/*할인가섹션*/
.new-product .numbers{display: flex;justify-content: center;margin-top: 5px;margin-bottom: 5px;margin-left: -20px;}
.new-product .percent{color: #53a9a8;font-weight: bold;font-size: 18px;padding-right: 10px;}
.new-product .sPrice{color: #09020a;font-weight:bold;font-size: 18px;padding-right: 10px;}

.xbox{position: relative;bottom: -5px;}
.xbox .oPrice{color: #b2b0b3;font-size: 12px;}
.xbox .xsline{height: 1px;width: 52px;background: #b2b0b3;position: absolute;bottom: 15px;left: -2px;}

.new-product>ul>li:nth-child(5) .sPrice{margin-top: 5px;margin-bottom: 5px;}

/*세일배너박스*/
.salebox{font-size: 12px;color: white;background: #f99095;width: 44px;height: 18px;text-align: center;
display: inline-block;}
.eventbox{font-size: 12px;color: #f99095;border: 1px solid #f99095;width: 44px;height: 18px;text-align: center;
display: inline-block;}
.newbox{font-size: 12px;color: white;background: #464646;width: 44px;height: 18px;text-align: center;
display: inline-block;}
.bestbox{font-size: 12px;color: #464646;border: 1px solid #464646;width: 44px;height: 18px;text-align: center;
display: inline-block;}


/*이달의테마*/
.theme{display: flex;justify-content: center;padding-bottom: 30px;}
.theme ul{}
.theme ul li{float: left;padding-right: 80px;}
.theme ul li:last-child{padding-right: 0;}
.theme ul h2{padding-bottom: 40px;}

.txtbox{background: rgba(239, 196, 204,0.6);height: 70px;width: 580px;line-height: 27px;position: relative;top: -74px;}
.txtbox p{padding-left: 10px;padding-top: 10px;color: white;font-size: 18px;}
.txtbox2{background: #c5d8dc;height: 70px;width: 580px;line-height: 27px;position: relative;top: -5px;}
.txtbox2 p{padding-left: 10px;padding-top: 10px;color: #424547;font-size: 18px;}
.upto{border-radius: 50px;background: #00080e;width: 90px;height: 90px;float: right;position: relative;top: -485px;right: 15px;}
.upto p,.upto h2{color: white;}
.upto p{padding-left: 22px;padding-top: 13px;}
.upto h2{font-weight: normal;padding-left: 14px;font-size: 2em;}


/*핫딜*/
.hotdealWrap{position: relative;padding-bottom: 100px;}
.hotdealWrap h2{position: relative;left: 330px;padding-bottom: 40px;}
.hotdealWrap a{position: absolute;top: 15px;right: 330px;font-size: 12px;color: #c0bbc2;}

.hotdeal{background: #f6eff0;height: 320px; display: flex;justify-content: center;}
.hotdeal ul li{float: left;}
.twocircle{display: flex;justify-content: center;position: relative;top: -55px;}
.twocircle div{float: left;}
.heart{margin-right: 10px;border-radius: 100px;background: rgba(255,255,255,0.8);width: 40px;height: 40px;}
.heart img{padding-left: 9px;padding-top: 11px;}
.greyplus{border-radius: 50px;width: 40px;height: 40px;background: rgba(255,255,255,0.8);}
.greyplus img{padding-left: 10px;padding-top: 10px;}

.hotdeal ul li{padding-left: 20px;padding-top: 32px;}
.hotdeal ul li:nth-child(2){padding-right: 120px;}
.dealtxt .f-txt{padding-bottom: 10px;padding-top: 50px;}
.dealtxt .s-txt{font-size: 18px;}

.s-price{margin-top: 25px;margin-bottom: 5px;font-size: 14px;color: #5a585d;}
.s-price div{height: 1px;width: 54px;background: #5a585d;position: relative;top: -9px;}

.dealprice p{float: left;font-size: 18px;}
.d-percent{color: #cb0a1b;font-weight: bold;padding-right: 5px;}
.d-letter{padding-right: 10px;}
.d-price{color: #cb0a1b;font-weight: bold;}


/*베스트*/
.best{display: flex;justify-content: center;position: relative;padding-bottom: 100px;}
.best ul li{float: left;padding-right: 39px;}
.best ul li:last-child{padding-right: 0;}
.best ul>li>p{text-align: center;padding-top: 10px;}
.best ul>h2{padding-bottom: 40px;}
.best ul>a{position: absolute;right: 330px;top: 15px;color: #c0bbc2;font-size: 12px}

.number-red p{font-size: 35px;padding-left: 10px;}
.number-red div{background: #fd0915;height: 2px;width: 40px;}


/*인스타*/
.insta{margin-bottom: 25px;}
.insta>ul{display: flex;justify-content: center;}
.insta h2{padding-bottom: 40px;position: relative;left: 335px;}
.insta ul li{float: left;margin-right: 30px;position: relative;}
.insta ul li:last-child{padding-right: 0;}
.insta .insta-icon{position: absolute;top: 5px;right: 5px;}

.insta02{display: flex;justify-content: center;}
.insta02 ul{position: relative;left: -15px;}
.insta02 ul li{float: left;margin-right: 30px;position: relative;margin-bottom: 100px;}
.insta02 ul li:last-child{margin-right: 0;}
.insta02 .insta-icon{position: absolute;top: 5px;right: 5px;}


/*푸터*/
.footer{background: #fbf8ef;height: 390px;}
.footer ul{display: flex;justify-content: center;}
.footer ul li{padding-right: 100px;margin-top: 58px;}
.footer ul li:last-child{padding-right: 0;}
.footer ul li p{font-weight: bold;margin-bottom: 24px;}
.footer ul li a{font-size: 13px;display: flex;align-items: flex-start;line-height: 18px;}
.footer ul li a img{margin-bottom: 5px;margin-right: 5px;}
.footer ul li:nth-child(5){margin-right: 90px;}
.footer ul .f-line{width: 1px;height: 110px;background: #c0bbc2;position: relative;right: 100px;top: 60px;}

.footer .downline{height: 1px;width: 820px;background: #ccc;margin-bottom: 25px;margin-top: 25px;position: relative;left: 400px;}


.under {}
.under .under01{display: flex;justify-content: flex-start;}
.under .under01 a{font-size: 13px;}
.under .under01 span{font-size: 13px;}
.under .under01 p{}

.under .under02{}
.under .under02 p{font-size: 12px;font-weight: normal;}
.under .under02 a{font-size: 12px;border: 1px solid #000;width: 90px;list-style: 20px;text-align: center;}