@charset "utf-8";

html,body{width: 100%;height: 100%;}
.headerWrap{width: 100%;min-width:1200px}
.headerTop{width: 100%;height: 50px;background: #262c28;font-size: 15px;color: white;text-align: center;line-height: 50px;}

.header{height: 100px;}
.l-interface{float: left;}
.c-interface{top: 0;left: 0;transform: translate(-50%,-50%);}
.r-interface{float: right;}

.l-interface ul{line-height: 100px;font-size: 14px;padding-left: 40px;}
.l-interface li{float: left;padding-right: 10px;color: #7e7882;}
.l-interface span{float: left;padding-right: 10px;color: #7e7882;}


/*폼*/
.r-interface{position: relative;}
.field input{background: #f0f0f0;;width: 300px;border:none;height: 50px;margin-top: 25px;margin-right: 100px;}
.field img{position: absolute;top: 90px;right: 110px;cursor: pointer;}
.r-interface .shopping{position: absolute;top: 75px;right: 50px;}
.blind{display: none;}

.line{height: 1px;width: 100%;background: #ccc;}


/*메뉴바*/
.navbar{position: relative;padding: 12px;}
.navbar .nav-left{padding-left: 28px;}
.navbar ul{position: absolute;top: 10px;left: 595px;}
.navbar>ul>li{float: left;padding-right: 40px;}
.navbar .toggle{margin-right: 12px;position: relative;top: 3px;}
.navbar .letter{position: relative;top: -7px;}


/*slider*/
.visual{width: 100%;position: relative;}
.visual .slider img{width: 100%;}
.visual .slider .slidertxt{position: absolute;top: 0;left: 0;padding-left: 325px;padding-top: 170px;}
.visual .slider .slidertxt h4{font-size: 32px;margin-bottom: 13px;}
.visual .slider .slidertxt p{font-size: 18px;margin-bottom: 20px;}
.visual .slider .slidertxt a{padding: 5px 10px;background: rgba(150,150,150,0.3);text-decoration: none;color: #fff;}
.visual .bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border: 0 none;
    background: #fff;
    margin-bottom: 0px;
}

.visual .roundbox{
	border-radius: 30px;background: rgba(150,150,150,0.3);
	width: 110px;height: 34px;position:absolute;bottom: 15px;left: 915px;
	color: white;
}
.visual .roundbox img{width: 12px;height: 20px;cursor: pointer;}
.visual .roundbox .round-prev{position: absolute;top: 7px;left: 7px;}
.visual .roundbox .round-next{position: absolute;top: 7px;right: 7px;}
.visual .roundbox p{width: 100px;height: 20px;position: absolute;top: 5px;left: 38px;}


/*신상품*/
.new-product{padding-top: 60px;display: flex;justify-content: center;padding-bottom: 100px;position: relative;}
.new-product h3{padding-bottom: 40px;}
.new-product .plus{position: absolute;top: 65px;right: 390px;font-size: 12px;color: #c0bbc2;}
.new-product>ul>li{float: left;padding-right: 60px;}
.new-product .smline{width: 200px;height: 1px;background: #c0bbc2;margin:15px 0;}
.new-product>ul>li a{font-size: 14px;}


/*할인가섹션*/
.new-product .numbers{display: flex;justify-content: center;margin-top: 5px;margin-bottom: 5px;margin-left: -20px;}
.new-product .percent{color: #53a9a8;font-weight: bold;font-size: 18px;padding-right: 10px;}
.new-product .sPrice{color: #09020a;font-weight:bold;font-size: 18px;padding-right: 10px;}

.xbox{position: relative;bottom: -5px;}
.xbox .oPrice{color: #b2b0b3;font-size: 12px;}
.xbox .xsline{height: 1px;width: 52px;background: #b2b0b3;position: absolute;bottom: 15px;left: -2px;}

.new-product>ul>li:nth-child(5) .sPrice{margin-top: 5px;margin-bottom: 5px;}

/*세일배너박스*/
.salebox{font-size: 12px;color: white;background: #f99095;width: 44px;height: 18px;text-align: center;
display: inline-block;}
.eventbox{font-size: 12px;color: #f99095;border: 1px solid #f99095;width: 44px;height: 18px;text-align: center;
display: inline-block;}
.newbox{font-size: 12px;color: white;background: #464646;width: 44px;height: 18px;text-align: center;
display: inline-block;}
.bestbox{font-size: 12px;color: #464646;border: 1px solid #464646;width: 44px;height: 18px;text-align: center;
display: inline-block;}


