@charset "utf-8";

html,body{width: 100%;height: 100%;}
.headerWrap{width: 100%;min-width:1200px}
.headerTop{width: 100%;height: 50px;background: #262c28;font-size: 15px;color: white;text-align: center;line-height: 50px;}
.hwrap{margin: 0 auto;}

.header{width: 1920px;height: 100px;position: relative;}
.l-interface{float: left;}
.c-interface{position: absolute;top: 15px;left: 890px;}
.r-interface{position: absolute;top: 15px;right: 100px;}

.l-interface ul{line-height: 100px;font-size: 14px;padding-left: 40px;}
.l-interface li{float: left;padding-right: 10px;color: #7e7882;}
.l-interface span{float: left;padding-right: 10px;color: #7e7882;}}


fieldset{border:none;}
.field{position: relative;}
.field input{background: #f0f0f0;;width: 300px;border:none;height: 50px;margin-top: 12px;}
.field img{position: absolute;top: 25px;right: 10px;cursor: pointer;}
.r-interface .shopping{position: absolute;top: 15px;right: -50px;}
.blind{display: none;}

.line{height: 1px;width: 100%;background: #ccc;}

.navbar{position: relative;padding: 12px;}
.navbar .nav-left{padding-left: 28px;}
.navbar ul{position: absolute;top: 10px;left: 595px;}
.navbar>ul>li{float: left;padding-right: 40px;}
.navbar .toggle{margin-right: 12px;position: relative;top: 3px;}
.navbar .letter{position: relative;top: -7px;}


/*slider*/
.visual{width: 100%;position: relative;}
.visual .slider img{width: 100%;}
.visual .slider .slidertxt{position: absolute;top: 0;left: 0;padding-left: 400px;padding-top: 170px;}
.visual .slider .slidertxt h4{font-size: 32px;margin-bottom: 13px;}
.visual .slider .slidertxt p{font-size: 18px;margin-bottom: 20px;}
.visual .slider .slidertxt a{padding: 5px 10px;background: rgba(150,150,150,0.3);text-decoration: none;color: #fff;}
.visual .bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border: 0 none;
    background: #fff;
    margin-bottom: 0px;
}

.visual .roundbox{
	border-radius: 30px;background: rgba(150,150,150,0.3);
	width: 110px;height: 34px;position:absolute;bottom: 15px;left: 915px;
	color: white;
}
.visual .roundbox img{width: 12px;height: 20px;cursor: pointer;}
.visual .roundbox .round-prev{position: absolute;top: 7px;left: 7px;}
.visual .roundbox .round-next{position: absolute;top: 7px;right: 7px;}
.visual .roundbox p{width: 100px;height: 20px;position: absolute;top: 5px;left: 38px;}
